<!DOCTYPE html>
<html ng-app="Blog">
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application", controller_name %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">

<%= yield %>

</body>
</html>
